* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('/fonts/MyriadPro-Regular.eot');
    src: url('/fonts/MyriadPro-Regular.eot#iefix') format('embedded-opentype'),
    url('/fonts/MyriadPro-Regular.woff') format('woff'),
    url('/fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    background-color: #e2e7ec;
}

.wrapper {
    width: 1120px;
    margin: 0 auto;
 }
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

.news-item {
    margin-bottom: 20px;
    width: 360px;
    height: 540px;
    background-color: white;
 }

 .news-item_content {
    display: flex;
    flex-direction: column;
     padding: 20px;
 }

 .news-item_content-date {
     margin-top: 30px;
     font-size: 13px;
     color: #818181;
     text-transform: uppercase;
 }

 .news-item_content-title {
     margin-top: 30px;
     font-size: 22px;
     color: #1d1d1d;
     text-transform: uppercase;
     font-family: 'Myriad Pro Regular';
     overflow: hidden;
 }

 .news-item_content-icon {
     margin-top: 35px;
 }

 .title-bg {
     color: white;
     width: 55%;
 }

 .add {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 740px;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../img/Layer-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}