body {
    background-color: rgb(153, 9, 9);
    height: 100%;
}

.wrapper {
    max-width: 100%;
    position: relative;
	min-height: 100%;
}

.page-address {
    text-align: center;
    margin: 20px
}

.page-gallery {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 40px;
}

.page-address_item {
    color: white;
    text-decoration: none;
}

.img-correct {
    color: white;
    text-align: center;
}

.left-sidebar {
    display: inline-block;
    width: 19.99999%;
    background-color: rgb(125 , 9, 9);
    height: 400px;
}

.left-sidebar_item {
    display: block;
    color: rgb(232, 90, 16);
    margin: 20px 0px;
}

.right-sidebar {
    display: inline-block;
    width: 19.6%;
    background-color: rgb(227, 221, 222);
    height: 400px;
        padding: 0;
    margin: 0;
}

.right-sidebar_item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 30px 15px;
    
}

.right-sidebar_title {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    background-color: rgb(189, 189, 181);
    padding: 0;
    margin: 0;

}

.main-content {
    display: inline-block;
    width: 59.99999%;
    color: white;
    font-size: 20px;
}



.footer {
    font-size: 20px;
}

.copyright {
    background-color: rgb(232, 90, 16);
    color: white;
    text-align: center;
}
