* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a252b;
    color: white;
}


main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}

.logo {
    margin-bottom: 60px;
    text-align: center;
}

.social-text {
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 45px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-text::after {
    content: "";
    position: absolute;
    border: 1px solid white;
    bottom: -20px;
    width: 100%;
    left: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.footer {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.kasper {
    color: #22718b;
}